*{
    user-select: none;
}
.layout {
    width: 100%;
    height: 610px;
    text-align: center;
}
.main{
    position:absolute;
    left:0;top:0px;
    background:#333;
    filter:Alpha(Opacity=30);
    opacity:0.5;z-index:100;
}
.winbox{
    position:absolute;
    background:#f0f0f0;
    z-index:101;
    border:solid 2px #afccfe;
}
.tBartit{
    margin:0;
    height:25px;
    background: skyblue;
}
.titleCon{
    float:left;
    margin:3px;
}
.closeCon{
    float:right;
    width:20px;
    margin:3px;
    cursor:pointer;
}